<p id="notice"><%= notice %></p>

<p>
  <strong>Titile:</strong>
  <%= @album.titile %>
</p>

<p>
  <strong>Content:</strong>
  <%= @album.content %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
